<phpunit bootstrap="phpunit_bootstrap.php">
    <testsuites>
        <testsuite name="lewnelson/namecheap-interface testsuite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>